body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header */

/* Logo */
.logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: #000000;
}

.logo.logo-footer {
    color: #ffffff;
}

.logo .logo-decoration {
    color: #2196F3;
}

/* Navigation */

.hed-stile {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
}

.nav-link a {
    color: #212121;
}

.nav-link.current a{
    color: #2196F3;
}

.contacts{
    color: #757575;
}
/* accent */
.contacts:hover,
.contacts:focus,
.nav-link a:hover,
.nav-link a:focus{
    color: #2196F3;
}

.button:hover,
.button:focus {
    background: #2196F3;
    color: #FFFFFF;;
}

/* main index*/
.hero {
    background-color: #2F303A;
}
.hero h1 {
    font-weight: 900;
        font-size: 44px;
        line-height: 1.2;
         color: #FFFFFF;
}
.hero input {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9; 
}
.button {
background: #F5F4FA;
color: #212121;
}
.name-section{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        color: #212121;
}
.benefits h3 {
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        color: #212121;
}
.benefits p {
font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
}
.team h3 {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: #212121;
}
.team p {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.18;
        color: #757575;
}
/* main portfolio */
.icon-product h3 {
    font-weight: 700;
font-size: 18px;
line-height: 2;
color: #212121;
}
.icon-product p {
    font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: #757575;
}

/* footer */
.bg-footer {
    background-color: #2F303A;
}
.bg-footer address {
    font-style: normal;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: #FFFFFF;