body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    --dominant-color: #212121;
    --secondary-color:  #757575;
    --accent-color:  #2196F3;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
address{
    font-style: normal;
}

/*                                  Header */

/*                             Logo header/footer*/
.logo {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        color: #000000;
}

.logo.logo-footer {
    color: #ffffff;
}

.logo .logo-decoration {
    color: var(--accent-color);
}

/*                                 Navigation */

.hed-stile {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
}

.nav-link .link{
    color: var(--dominant-color);
}

.nav-link.current .link{
    color: var(--accent-color);
}

.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-color);
}
/*                                    accent */
.contacts:hover,
.contacts:focus,
.nav-link .link:hover,
.nav-link .link:focus,
.decor-address .address:hover,
.decor-address .address:focus{
    color: var(--accent-color);
}
.hero .button:hover,
.hero .button:focus{
    background-color: #FFFFFF;
    color: var(--dominant-color);
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

/*                                    main index*/
.hero {
    background-color: #2F303A;
}
.hero .title{
    font-weight: 900;
        font-size: 44px;
        line-height: 1.2;
        text-transform: uppercase;
         color: #FFFFFF;

}
.hero .button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9; 
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.button {
background: #F5F4FA;
cursor: pointer;
}
.name-section{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        color: var(--dominant-color);
}
.benefits .benefits-title{
    font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--dominant-color);
}
.benefits .text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-color);
}
.team .team-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        color: var(--dominant-color);
}
.team .position {
        font-size: 16px;
        line-height: 1.18;
        color: var(--secondary-color);
}
/*                                  main portfolio */
.button-portfolio{
 font-weight: 500;
 font-size: 16px;
 line-height: 1,6;
 color: var(--dominant-color);
}
.icon-product .name-product {
    font-weight: 700;
font-size: 18px;
line-height: 2;
color: var(--dominant-color);
}
.icon-product .group {
font-size: 16px;
line-height: 1.87;
color: var(--secondary-color);
}

/*                                   footer */
.bg-footer {
    background-color: #2F303A;
}
.bg-footer .address {
    font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        color: #FFFFFF;
}